<!DOCTYPE html>
<head>
            <title>Chatbot Demo</title>
            <link rel="stylesheet" href="../static/styles.css">
            <link rel="" href="">
</head>
<body>
<div class="chat-container">
        <div class="chat-header">
            <div>
                <img src="../static/images/image.png" alt="cc" class="icon-image">
            </div>
                <div>
                    <h2>Chatbot Demo</h2>
                    <!-- <p class="status">Online</p> -->
                </div>
        </div>

    <div class="chat-body" id="chat-body"></div>

        <div class="chat-input">
            <input type="text" placeholder="Type a message..."  id="userinput"/>
            <button type="button" id="sendbutton">Send</button>
        </div>
</div>
<script src="../static/script.js"></script>
</body>
</html>
