<!DOCTYPE html>
<head>
            <title>Chatbot Demo</title>
            <link rel="stylesheet" href="{{url_for('static', filename = 'styles.css' )}}">
            
</head>
<body>
<div class="chat-container">
        <div class="chat-header">
            <div>
                <img src="../static/images/image.png" alt="cc" class="icon-image">
            </div>
                <div>
                    <h2>Chatbot Demo</h2>
                    <!-- <p class="status">Online</p> -->
                </div>
        </div>

    <div class="chat-body" id="chat-body"></div>

        <div class="chat-input">
                <input type="text" placeholder="Type a message..."  id="userinput"/>
                <button type="button" name="sendbutton" id="sendbutton">Send</button>
        </div>
</div>
<script src="{{url_for ('static', filename = 'script.js')}}"></script>
</body>
</html>
